.recipe-card {
  /* flex-basis: 22em; */
  /* border-radius: 15px;
  width: 23%;
  margin: 0 1.5% 1.5% 0;
  height: 350px;
  box-shadow: 0 0 5px var(--shadow-color);
  overflow: hidden; */
  border-radius: 15px;
  margin: 0 0 15px 0;
  height: 360px;
  box-shadow: 0 0 5px var(--shadow-color);
  overflow: hidden;
  width: 100%;
  break-inside: avoid;
  position: relative;
}

.recipe-card:nth-of-type(odd) {
  background-color: #000000;
  color: #ffffff;
}

.recipe-card:nth-of-type(even) {
  background-color: #ffffff;
  color: #000000;
  height: 295px;
}

.recipe-card:hover {
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.recipe-card-image-container {
  height: 70%;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  transition: all 0.2s;
  position: relative;
}
.recipe-card:hover .recipe-card-image-container {
  background-size: 110% 110%;
}

.recipe-card-category {
  position: absolute;
  top: 0;
  right: 0;
  color: #ebe7e7;
  padding: 7px 25px;
  background: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 15px;
  font-family: "Metropolis Thin";
  font-size: 0.7em;
  font-weight: 600;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 15px 0 15px;
  position: relative;
  top: -100px;
}

.card-recipe-title {
  font-family: "Metropolis Extra Bold";
  font-size: 1em;
}

.card-recipe-price {
  font-family: "Metropolis Regular";
  margin: 5px 0;
}

.card-recipe-description {
  font-size: 0.65em;
  position: relative;
  top: -95px;
  padding: 0 20px;
  font-family: "Metropolis Thin";
}

.recipe-card:nth-of-type(even) .card-recipe-description {
  height: 25px;
}

.recipe-card:nth-of-type(odd) .card-title-container {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.recipe-card:nth-of-type(even) .card-title-container {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.2) 80%,
    rgba(255, 255, 255, 0) 100%
  );

  /* background-image: linear-gradient(to top, #000000, rgba(255, 255, 255, 0.1)); */
}

.recipe-card:nth-of-type(odd) .card-view-more-btn {
  color: #ffffff;
}
.card-view-more-btn {
  font-family: "Metropolis Thin";
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-view-more-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 0.8em;
}
.card-view-more-btn:focus {
  outline: none;
}

.recipe-card:nth-of-type(odd) .card-view-more-btn:hover {
  background-color: white;
  color: black;
}

.recipe-modal-container {
  border: 5px solid green;
  width: 60%;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .card-recipe-description {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 425px) {
  .card-recipe-title {
    font-size: 1.3em;
  }

  .card-recipe-description {
    font-size: 0.85em;
  }

  .recipe-card:nth-of-type(even) {
    background-color: #ffffff;
    color: #000000;
    height: 350px;
  }
}

/*Refactor recipe container css*/
