.close-button {
  padding: 5px 10px;
  background: black;
  border: 1px solid black;
  color: white;
  font-family: "Metropolis Bold";
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border-bottom-left-radius: 15px;
}

.popup__block {
  display: flex;
  justify-content: space-between;
}

.popup__block > img {
  width: 50%;
  margin-right: 3%;
}
.popup__details {
  display: flex;
  flex-direction: column;
}

.popup__details > * {
  margin-bottom: 10px;
}

.popup__title {
  font-family: "Metropolis Bold";
  font-weight: bold;
  font-size: 1.3em;
}

.popup__price {
  font-family: "Metropolis Bold";
  font-weight: bold;
  font-size: 1.1em;
}

.popup__category {
  font-size: 1em;
  opacity: 0.6;
}

.popup__description {
  font-family: "Metropolis Thin";
  font-size: 1em;
}

@media screen and (max-width: 425px) {
  .popup__block {
    flex-direction: column;
  }
  .popup__block > img {
    width: 100%;
  }
  .popup__title {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .popup__description {
    font-size: 1.2em;
  }
}
